body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 20px;
  background-color: #575353;
  color: white;
}

.nav-container {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

.nav1 {
  background-color: #96989b;
  padding: 10px;
}

.nav1 ul {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.nav1 li {
  display: inline;
}

.nav1 a {
  text-decoration: none;
  color: rgb(0, 28, 184);
  /* background: #0d23e6; */
  padding: 4px 10px;
  position: relative;
}

.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0a65c7;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-btn {
  background: rgb(243, 114, 28);
  border: none;
  padding: 4px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.nav2 {
  background-color: #343a40;
  width: 200px;
  padding: 20px;
  /* border-radius: 10px; */
}

.nav2 ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav2 li {
  margin-bottom: 12px;
}

.nav2 a {
  text-decoration: none;
  color: azure;
  display: block;
  padding: 10px;
  width: 100%;
}

.nav2 a:hover {
  background-color: #575353;
}

.nav2 .login-btn {
  background-color: #787c81;
  /* border-radius: 5px; */
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  color: azure;
  font-weight: bolder;
  /* font-size: larger; */
}

.nav2 .login-btn:hover {
  background-color: #0d60b9;
  /* border: 1px solid whitesmok  e; */
  font-size: medium;
}

.nav3 {
  background-color: rgb(69, 224, 128);
  padding: 10px;
}

.nav3 ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav3 a {
  text-decoration: none;
  color: rgb(247, 243, 238);
  padding: 10px;
  display: block;
}
.nav3 .dropdown-content {
  display: none;
}

.nav3 .dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color: #2775c9;
  min-width: 150px;
}
